@font-face {
  font-family: "Nekst";
  src: url("../fonts/Nekst/Nekst-Black.eot");
  src: local("Nekst"), local("Nekst-Black"), url("../fonts/Nekst/Nekst-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Nekst/Nekst-Black.woff2") format("woff2"), url("../fonts/Nekst/Nekst-Black.woff") format("woff"), url("../fonts/Nekst/Nekst-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Regular.eot");
  src: local("Nekst"), local("Gilroy-Regular"), url("../fonts/Gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

/* COLORS */
body {
  background-color: #e5e5e5;
  font-family: "Nekst";
  font-style: normal;
  max-width: 1439px;
  height: 100vh;
  margin: 0 auto;
}

.wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  padding: 13.8rem 3rem;
}

.wrapper .wrapper__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 90%;
  margin-bottom: 1.6rem;
}

.wrapper .wrapper__input-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .wrapper__output-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1439px) {
  .wrapper {
    padding-top: 6.7rem;
    padding-bottom: 120px;
  }
  .wrapper .wrapper__title {
    margin-bottom: 2.4rem;
  }
  .wrapper__input-blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper__output-blocks {
    margin-top: 2.4rem;
  }
}

/*@media (max-width: 1023px) {
  .wrapper__input-blocks {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .wrapper__input-blocks {
    flex-direction: column;
  }
}*/
/* COLORS */
.input-block {
  width: 33%;
  margin-bottom: 3.3rem;
}

.input-block:not(:first-child) {
  margin-left: 2rem;
}

.input-block .input-block__title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 1.5rem;
}

.input-block .input-block__input-content {
  position: relative;
  background-color: #f3f3f3;
  border-radius: 16px;
  padding: 1.2rem 0.5rem 0.7rem 1.5rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.input-block .input-block__input-content .input-content__input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input-block .input-block__input-content .input-content__input .input-number {
  width: 80%;
  font-family: "Nekst";
  font-size: 30px;
  line-height: 36px;
  color: #575757;
  background-color: #f3f3f3;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.input-block .input-block__input-content .input-content__input .input-number::-webkit-outer-spin-button, .input-block .input-block__input-content .input-content__input .input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-block .input-block__input-content .input-content__input span {
  position: absolute;
  padding: 0.6rem 1rem 0.4rem 1.2rem;
  font-size: 30px;
  line-height: 36px;
  color: #575757;
  top: -0.7rem;
  right: 0;
  right: 0;
  cursor: pointer;
}

.input-block .input-block__input-content .input-content__input span:hover {
  background: #ebebec;
  border-radius: 16px;
}

.input-block .input-block__input-content .input-content__input .input__span-rub {
  padding-right: 1rem;
}

.input-block .input-block__input-content .input-content__input .input__span-percent {
  font-size: 20px;
}

.input-block .input-block__input-content .input-content__input .input__span-month {
  padding-right: 1rem;
}

.input-block .input-block__input-content:focus-within.input-block__input-content {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 0 2px #f3f3f3;
          box-shadow: 0 0 0 2px #f3f3f3;
}

.input-block .input-block__input-content:focus-within.input-block__input-content .input-number {
  background-color: #ffffff;
}

.input-block .input-block__input-content.--disable {
  opacity: 0.4;
}

.input-block .input-block__input-content.--disable span:hover {
  cursor: default;
  background-color: transparent;
}

.input-block .input-block__input-content .input-range {
  position: absolute;
  left: 24px;
  right: 24px;
  bottom: 0;
  cursor: pointer;
  -webkit-appearance: none;
  height: 1px;
  background: #e1e1e1;
}

.input-block .input-block__input-content .input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  z-index: 1000;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ff9514;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.input-block .input-block__input-content .input-range::-webkit-slider-runnable-track {
  height: 2px;
}

.input-block .input-block__input-content .input-range:hover::-webkit-slider-thumb {
  width: 24px;
  height: 24px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

@media (max-width: 1439px) {
  .input-block {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .input-block:not(:first-child) {
    margin-left: 0;
    margin-top: 2rem;
  }
}

/* COLORS */
.output-block {
  width: 33%;
}

.output-block:not(:first-child) {
  margin-left: 0.9rem;
}

.output-block .output-block__title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #575757;
  margin-bottom: 0.9rem;
}

.output-block .output-block__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.output-block .output-block__result h2,
.output-block .output-block__result span {
  font-size: 54px;
  line-height: 90%;
  color: #575757;
}

.output-block .output-block__result span {
  margin-top: -0.3rem;
  margin-left: 0.8rem;
}

@media screen and (max-width: 1439px) {
  .output-block {
    width: 48%;
  }
  .output-block:not(:first-child) {
    margin-left: 0;
    padding-left: 2rem;
  }
  .button-conainer {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

/* COLORS */
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.6rem 0;
  padding: 1rem 5.6rem;
  margin-left: 1rem;
  background-color: #ff9514;
  background-color: #ff9514;
  font-family: "Nekst";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 40px;
}

.button:hover {
  background: #111111;
}

.button:active {
  background-color: #575757;
}

.button.--disable {
  background-color: rgba(255, 149, 20, 0.4);
}

@media (max-width: 1439px) {
  .button {
    margin-top: 2.4rem;
    margin-left: 0;
    padding: 1rem 3.2rem;
  }
}
/*# sourceMappingURL=global.css.map */