@import "../base/variables";

body {
  background-color: $background-color-body;
  font-family: "Nekst";
  font-style: normal;
}
.wrapper {
  max-width: $point_1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $background-color-block;
  padding: 0 47px;
  .wrapper__title {
    font-weight: 900;
    font-size: 54px;
    line-height: 90%;
    margin-bottom: 32px;
  }
  .wrapper__input-blocks {
    display: flex;
    flex-direction: row;
  }
  .wrapper__output-blocks{
    display: flex;
    flex-direction: row;
  }
}
