@import "../base/variables";

body {
  background-color: $background-color-body;
  font-family: "Nekst";
  font-style: normal;
  max-width: $breakpoint_1;
  height: 100vh;
  margin: 0 auto;
}
.wrapper {
  flex-direction: column;
  justify-content: center;
  background-color: $background-color-block;
  padding: 13.8rem 3rem;
  .wrapper__title {
    font-weight: 900;
    font-size: 54px;
    line-height: 90%;
    margin-bottom: 1.6rem;
  }
  .wrapper__input-blocks {
    display: flex;
  }
  .wrapper__output-blocks {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: $breakpoint_1) {
  body {
    max-width: "1024px";
  }
  .wrapper {
    padding-top: 6.7rem;
    padding-bottom: 120px;
    .wrapper__title {
      margin-bottom: 2.4rem;
    }
  }
  .wrapper__input-blocks {
    flex-direction: column;
  }
  .wrapper__output-blocks {
    margin-top: 2.4rem;
  }
}

@media screen and (max-width: $breakpoint_2) {
  body {
    max-width: "768px";
  }
  .wrapper {
    padding: 4.2rem 2.3rem;
    .wrapper__title {
      margin-bottom: 2.6rem;
    }
    .wrapper__input-blocks {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: $breakpoint_3) {
  body {
    max-width: "320px";
  }
  .wrapper {
    padding: 2.8rem 1.2rem;
    .wrapper__title {
      font-size: 34px;
      width: 140px;
      margin-bottom: 2rem;
    }
  }
}
