@import "../base/variables";

body {
  background-color: $background-color-body;
  font-family: "Nekst";
  font-style: normal;
  max-width: $point_1;
  height: 100vh;
  margin: 0 auto;
}
.wrapper {
  flex-direction: column;
  justify-content: center;
  background-color: $background-color-block;
  padding: 13.8rem 3rem;
  .wrapper__title {
    font-weight: 900;
    font-size: 54px;
    line-height: 90%;
    margin-bottom: 1.6rem;
  }
  .wrapper__input-blocks {
    display: flex;
    flex-direction: row;
  }
  .wrapper__output-blocks {
    display: flex;
    flex-direction: row;
  }
}
