@import "../base/variables";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.6rem 0;
  padding: 1rem 5.6rem;
  margin-left: 1rem;
  background-color: #ff9514;
  background-color: $color-button-passive;
  font-family: "Nekst";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: $color-button-text;
  transition: $animation;
  border-radius: $button-border-radius;
}
.button:hover {
  background: $color-button-hover;
}

.button:active {
  background-color: $color-button-pressed;
}
.button.--disable {
  background-color: $color-button-disabled;
}

@media (max-width: $breakpoint_1) {
  .button {
    margin-top: 2.4rem;
    margin-left: 0;
    padding: 1rem 3.2rem;
  }
}
