@import "../base/variables";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.6rem 0;
  padding: 0 5.8rem;
  margin-left: 1rem;
  background-color: #ff9514;
  background-color: $color-button-passive;
  font-family: "Nekst";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: $color-button-text;
  border-radius: $button-border-radius;
}
