@import "../base/variables";

.input-block {
  width: 33%;
  margin-bottom: 3.3rem;
  &:not(:first-child) {
    margin-left: 2rem;
  }
  .input-block__title {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 1.5rem;
  }
  .input-block__input-content {
    position: relative;
    background-color: $background-color-input;
    border-radius: $input-border-radius;
    padding: 1.2rem 0.5rem 0.7rem 1.5rem;
    .input-content__input {
      position: relative;
      display: flex;
      justify-content: space-between;
      input {
        width: 80%;
        font-family: "Nekst";
        font-size: 30px;
        line-height: 36px;
        color: $color-input-passive;
        background-color: $background-color-input;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
      }
      span {
        font-size: 30px;
        line-height: 36px;
        color: $color-input-passive;
      }
      .input__span-rub {
        padding-right: 1rem;
      }
      .input__span-percent {
        position: absolute;
        font-size: 20px;
        padding: 0.6rem 1rem 0.4rem 1.2rem;
        top: -0.7rem;
        right: 0;
        right: 0;
        background: $background-input-span;
        border-radius: $input-border-radius;
      }
      .input__span-month {
        padding-right: 1rem;
      }
    }
    input[type="range"] {
      position: absolute;
      left: 24px;
      right: 24px;
      bottom: 0;

      -webkit-appearance: none;
      height: 1px;
      background: $background-color-range;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        z-index: 1000;
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $color-input-range;
        transform: translateY(-8px);
      }
      &::-webkit-slider-runnable-track {
        height: 2px;
      }
    }
  }
}
