@import "../base/variables";

.input-block {
  width: 30%;
  &:not(:first-child) {
    margin-left: 32px;
  }
  margin-right: 32px;
  .input-block__title {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 24px;
  }
  .input-block__input-content {
    position: relative;
    background-color: $background-color-input;
    border-radius: $input-border-radius;
    padding: 7px 7px 7px 24px;
    .input-content__input {
      display: flex;
      input {
        width: 90%;
        font-family: "Nekst";
        font-size: 30px;
        line-height: 36px;
        color: $color-input-passive;
        background-color: $background-color-input;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
      }
      span {
        font-size: 30px;
        line-height: 36px;
        padding: 17px 15px;

        color: $color-input-passive;
      }
    }
    input[type="range"] {
      position: absolute;
      left: 24px;
      right: 24px;
      bottom: 0;

      -webkit-appearance: none;
      height: 1px;
      background: $background-color-range;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        z-index: 1000;
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $color-input-range;
        transform: translateY(-8px);
      }
      &::-webkit-slider-runnable-track {
        height: 2px;
      }
    }
  }
}
