@import "../base/variables";

.input-block {
  width: 33%;
  margin-bottom: 3.3rem;
  &:not(:first-child) {
    margin-left: 2rem;
  }
  .input-block__title {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 1.5rem;
  }
  .input-block__input-content {
    position: relative;
    background-color: $background-color-input;
    border-radius: $input-border-radius;
    padding: 1.2rem 0.5rem 0.7rem 1.5rem;
    transition: $animation;
    .input-content__input {
      position: relative;
      display: flex;
      justify-content: space-between;
      .input-number {
        width: 80%;
        font-family: "Nekst";
        font-size: 30px;
        line-height: 36px;
        color: $color-input-passive;
        background-color: $background-color-input;
        transition: $animation;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
        &::-ms-fill-lower {
          background-color: black;
        }
      }
      span {
        position: absolute;
        padding: 0.6rem 1rem 0.4rem 1.2rem;
        font-size: 30px;
        line-height: 36px;
        color: $color-input-passive;
        top: -0.7rem;
        right: 0;
        right: 0;
        cursor: pointer;
      }
      .input__span,
      .input__span {
        padding-right: 1rem;
      }
      .input__span-percent {
        width: 4.5rem;
        font-size: 20px;
        background: $background-input-span;
        border-radius: $input-border-radius;
      }
    }
    &:focus-within.input-block__input-content {
      background-color: $color-input-active;
      box-shadow: 0 0 0 2px $color-input-border-active;
      .input-number {
        background-color: $color-input-active;
      }
    }
    &.--disable {
      opacity: 0.4;
      span:hover {
        cursor: default;
        background-color: transparent;
      }
    }
  }
}

@media (max-width: $breakpoint_1) {
  .input-block {
    width: 100%;
    &:not(:first-child) {
      margin-left: 0;
      margin-top: 2rem;
    }
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: $breakpoint_3) {
  .input-block {
    margin-bottom: 1.6rem;
    &:not(:first-child) {
      margin-top: 0;
    }
    .input-block__title {
      margin-bottom: 0.4rem;
      font-size: 14px;
    }
    .input-block__input-content {
      padding: 15px 0 9px 20px;
      .input-content__input {
        .input-number {
          font-size: 22px;
        }
        .input__span-percent {
          padding: 0.7rem 3.5rem 0.4rem 1.2rem;
        }
      }
    }
  }
}
