@import "../base/variables";

.output-block {
  width: 30%;
  &:not(:first-child) {
    margin-left: 32px;
  }
  margin-right: 32px;
  .output-block__title {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $color-output-passive;
    margin-bottom: 8px;
  }
  .output-block__result {
    font-size: 54px;
    line-height: 90%;
    color: $color-output-passive;
  }
}
