/* COLORS */
$background-color-body: #e5e5e5;
$background-color-block: #ffffff;
$background-color-input: #f3f3f3;
$background-color-range: #e1e1e1;

$color-button-passive: #ff9514;
$color-button-hover: #111111;
$color-button-pressed: #575757;
$color-button-disabled: rgba(#ff9514, 0.4);
$color-button-text: #ffffff;

$color-input-passive: #575757;
$color-input-active: #ffffff;
$color-input-disabled: #f3f3f4;
$color-input-range: #ff9514;

$color-output-passive: #575757;
// ADAPTIVE:
$point_1: 1440px;
$point_2: 1024px;
$point_3: 768px;
$point_4: 320px;

$input-border-radius: 16px;
$button-border-radius: 40px;
