/* COLORS */
$background-color-body: #e5e5e5;
$background-color-block: #ffffff;
$background-color-input: #f3f3f3;
$background-color-range: #e1e1e1;
$background-input-span: #ebebec;

$color-button-passive: #ff9514;
$color-button-hover: #111111;
$color-button-pressed: #575757;
$color-button-disabled: rgba(#ff9514, 0.4);
$color-button-text: #ffffff;

$color-input-passive: #575757;
$color-input-active: #ffffff;
$color-input-range: #ff9514;

$color-input-border-active: #f3f3f3;

$color-output-passive: #575757;

// ADAPTIVE:
$breakpoint_1: 1439px;
$breakpoint_2: 1023px;
$breakpoint_3: 779px;

$input-border-radius: 16px;
$button-border-radius: 40px;

$animation: 0.3s ease;
